/* =========================================
   CSS for DDZ Clothing Website
   Author: Oliveros, Michael Francis Noel M.
   Section: CS - 202
   Date: October 2025
========================================= */